* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


.vh-100 {
    height: 100vh;
}
.vw-100 {
    width: 100vw;
}
.w-100 {
    width: 100%;
}

.w4 {
    width: 2rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.align-items-center {
    align-items: center;
}

.p-1 {
    padding: .5rem;
}

.p-4 {
    padding: 2rem;
}

.m-1 {
    padding: 0.5rem;
}

.input-reset {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.no-decoration {
    text-decoration: none;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.bg-red {
    background-color: rgb(185, 84, 84);
}
.bg-blue {
    background-color: #5e5ef1;
}
.bg-light-grey {
    background-color: rgb(228, 222, 222);
}

.fw4 {
    font-size: 2rem;
}
.fw8 {
    font-size: 4rem;
}